* {
    -webkit-box-sizing: border-box;
    -moz-box-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

h2 {
    font-family: 'Open Sans';
    font-size: 4.2vw;
    font-weight: 500;
    color: white;
    margin: 0px;
    padding-top: 10vh;
}

body {
    margin: 0px;
    text-align: center;
    overflow-x: hidden;
}

#first-page {
    overflow: auto;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #161618, #313132);
    font-family: Poppins;
}

#first-page-Contentbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 85%;
    border-left: white solid 3px;
    border-right: white solid 3px;
    overflow: hidden;
}

#first-page-Top {
    display: block;
    height: auto;
    width: 100%;
}

#first-page-Navigation {
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: auto;
    display: flex;
    font-weight: 300;
    font-size: calc(0.6vw + 0.9em);
    padding-top: 30px;
    max-width: 700px;
}

.nav-item {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.nav-item a {
    padding-bottom: 10px;
}

.nav-item a:hover {
    color: #004CFE;
    border-bottom: 3px solid #004CFE;
}

.nav-item-action {
    color: #004CFE;
    border-bottom: 3px solid #004CFE;
}

#first-page-Contact {
    height: auto;
    cursor: pointer;
    margin-top: -5px;
    border-radius: 50px;
    margin-left: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4px;
    border: 3px solid white;
    margin-right: 2em;
}

#first-page-Text {
    margin-top: 30vh;
    margin-left: 3vw;
    margin-right: auto;
    text-align: left;
    width: 50%;
}

#first-page-Text-Big {
    margin-right: auto;
    font-size: calc(4.4vw);
    line-height: calc(4.4vw);
    display: inline-block;
}

#first-page-Text-Big-Lukas {
    padding-right: 5px;
    display: inline-block;
    border-right: calc(0.2vw + 3px) solid #004CFE;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #004CFE;
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

#first-page-Text-Small {
    margin-top: 30px;
    font-weight: 300;
    font-size: calc(1.2vw + 5px);
    color: white;
    margin-bottom: calc(12vh - 4vw);
}

#first-page-News-Bar {
    display: none;
    overflow: hidden;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.News-Bar-Text {
    margin-left: 3vw;
    margin-top: 1vh;
    text-align: left;
    color: white;
}

#first-page-News-Bar-Headline {
    font-weight: 300;
    font-family: Nirmala UI;
    letter-spacing: 5px;
    font-size: 1.5vw;
}

#first-page-News-Bar-Text {
    font-family: 'Open Sans';
    color: #A1A1A1;
    font-size: 1vw;
}

#first-page-Image {
    position: absolute;
    max-height: 85vh;
    right: 0px;
    bottom: 0px;
    float: right;
    height: auto;
    max-width: 45%;
}

.first-page-Side-Link {
    position: absolute;
    bottom: 7vh;
    width: 7.5%;
}

#first-page-LinkedIn {
    left: 0px;
}

#first-page-Github {
    right: 0px;
}

.first-page-Side-Images {
    cursor: pointer;
    width: 3.5vw;
    height: 3.5vw;
}

#first-page-Image-Mobile {
    max-height: 50vh;
    margin-bottom: 0px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: none;
}

@media screen and (orientation: landscape) {
    @media screen and (min-aspect-ratio: 2/1) {
        #first-page-Text {
            margin-top: 25vh;
        }
    }
    @media screen and (max-height: 400px) {
        #first-page-Text {
            margin-top: 15vh;
        }
    }
    @media screen and (max-height:500px) {
        #first-page-Image {
            max-height: 75vh;
        }
        #first-page-Text-Small {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 600px) {
        #first-page-Contact {
            margin-left: 0.8em;
            margin-right: 0.8em;
            padding-left: 10px;
            padding-right: 10px;
        }
        #first-page-Navigation {
            font-size: 3.2vw;
        }
        .nav-item {
            padding-bottom: 7px;
        }
    }
    @media screen and (max-height: 300px) {
        #first-page-Text {
            margin-top: 10vh;
        }
    }
    @media screen and (max-aspect-ratio: 9/4) {
        @media screen and (min-width: 1000px) and (max-width: 2000px) {
            #first-page-News-Bar {
                display: block;
            }
        }
    }
    @media screen and (min-aspect-ratio: 5/2) {
        #first-page-Text {
            margin-top: 15vh;
        }
    }
}

@media screen and (max-aspect-ratio: 3/2) {
    #first-page-News-Bar {
        display: none;
    }
    #first-page-Image {
        display: none;
    }
    #first-page-Image-Mobile {
        display: block;
    }
    #first-page-Text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vh;
        width: 95%;
    }
    #first-page-Text-Big {
        line-height: 5vw;
        font-size: 5vw;
    }
    #first-page-Text-Small {
        margin-top: 20px;
        font-size: 2vw;
        margin-bottom: 5px;
    }
}

@media screen and (orientation: portrait) {
    #first-page-Text-Big {
        line-height: 8.5vw;
        font-size: 8.5vw;
    }
    #first-page-Text-Small {
        margin-top: 20px;
        font-size: 2.8vw;
        margin-bottom: 5px;
    }
    #first-page-Contact {
        margin-left: 0.8em;
        margin-right: 0.8em;
        padding-left: 10px;
        padding-right: 10px;
    }
    #first-page-Navigation {
        font-size: 3.2vw;
        max-width: 100%;
    }
    .nav-item {
        padding-bottom: 7px;
    }
}

@media screen and (max-width:800px) {
    .first-page-Side-Images {
        width: 5vw;
        height: 5vw;
    }
}

@media screen and (max-width: 600px) {
    #first-page-Contact {
        border: 2px white solid;
    }
}

@media screen and (max-aspect-ratio: 2/3) {
    .first-page-Side-Link {
        margin-top: 5vh;
        display: block;
        position: static;
    }
    #first-page-LinkedIn {
        margin-left: 10vw;
        float: left;
    }
    #first-page-Github {
        float: right;
        margin-right: 10vw;
    }
    .first-page-Side-Images {
        width: 5vh;
        height: 5vh;
    }
}

#second-page {
    scrollbar-width: none;
    overflow: auto;
    height: auto;
    background: linear-gradient( #161618, #4A4A4A);
}

#second-page-Contentbox {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    margin-top: 10vh;
    width: 100%;
    margin-bottom: 10vh;
    max-width: 1000px;
}

#second-page-Timeline {
    width: 4px;
    top: 80px;
    background-color: #004CFE;
    opacity: 0.7;
    margin-left: -2px;
    position: absolute;
    left: 50%;
}

.dot {
    height: 8px;
    top: 80px;
    border-radius: 50%;
    width: 8px;
    background-color: #004CFE;
    position: absolute;
}

.container-left .dot {
    right: 0px;
    margin-right: -4px;
}

.container-right .dot {
    left: 0px;
    margin-left: -4px;
}

.container {
    display: block;
    position: absolute;
    width: 50%;
    margin-bottom: 20px;
}

.container-left {
    left: 0px;
}

.container-right {
    top: 70px;
    right: 0px;
}

.container-center {
    width: 95%;
    left: 2.5%;
}

.container-inner {
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 20px 7%;
}

.container-left .container-inner {
    margin-left: 15px;
    margin-right: 40px;
}

.container-right .container-inner {
    margin-left: 40px;
    margin-right: 15px;
}

.container-left .arrow {
    position: absolute;
    right: -12px;
    height: 43px;
    top: 65px;
    width: 12px;
    background-image: url(pictures/Polygon\ 1.svg);
}

.container-right .arrow {
    position: absolute;
    height: 43px;
    top: 65px;
    width: 12px;
    left: -12px;
    transform: rotate(180deg);
    background-image: url(pictures/Polygon\ 1.svg);
}

.date {
    color: #004CFE;
    margin-bottom: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
}

.container-headline {
    color: #414141;
    font-family: 'Open Sans';
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 22px;
}

.container-content {
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.container-content span {
    border-bottom: 2px solid #757575;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    h2 {
        font-size: 5.5vw;
    }
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 7vw;
    }
}

#third-page {
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    height: auto;
    background: linear-gradient(170deg, #4A4A4A, #3D3D3D);
    width: 100%;
}

#third-page-Contentbox {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10vh;
    width: 100%;
    margin-bottom: 10vh;
    max-width: 1000px;
}

.table-container {
    position: relative;
    background-color: #1D1D1D;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    width: calc(100%-20px);
    padding: 20px 7%;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-right: 15px;
}

.table-headline {
    color: white;
    font-family: Poppins;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 25px;
}

.table {
    position: relative;
    width: 100%;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}

.line {
    position: absolute;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid white;
}

.line-elements {
    text-align: center;
    min-height: 1px;
    float: left;
    width: 20%;
}

.line-elements-left {
    text-align: left;
    cursor: pointer;
}

.line-elements-left:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
    color: #004CFE;
}

@-webkit-keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.table-bar {
    top: calc(50% - 10px);
    margin-left: 3px;
    position: absolute;
    padding: 7px;
    background-color: #004CFE;
    left: 20%;
}

.vertical-line {
    position: absolute;
    left: 20%;
    height: 100%;
    border-left: 2px dotted white;
}

.overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
}

.overlay {
    transition: 800ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    border-radius: 30px;
    position: absolute;
    left: 0px;
    margin-top: -20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.close-model {
    position: absolute;
    right: 7%;
    top: 15px;
    cursor: pointer;
    opacity: 0.8;
}

#third-page-Info {
    width: 12%;
    margin-left: 4%;
    top: 0px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
}

.third-page-Bubble-Container {
    width: 100%;
    height: 100%;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

#footer {
    width: 100%;
    padding: 15px;
    background-color: black;
}

#footer-Text {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 1000px) {
    .table {
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 800px) {
    .overlay-container {
        width: 70%;
    }
    .table-container {
        padding: 20px 6%;
    }
}

@media screen and (max-width: 600px) {
    .table-headline {
        font-size: 3vw;
    }
    .table-bar {
        top: calc(50% - 7px);
        padding: 5px;
    }
    #footer-Text {
        font-size: 0.8em;
    }
    .table-container {
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px 5%;
    }
    #third-page-Other-Content {
        font-size: calc(2vw + 3px);
    }
    #third-page-Other-Headline {
        font-size: calc(4vw + 4px);
    }
    #third-page-Programming-Content {
        font-size: calc(2vw + 3px);
    }
    #third-page-Programming-Headline {
        font-size: calc(4vw + 4px);
    }
    .container-content {
        margin-bottom: 0px;
    }
    .overlay {
        margin-top: -15px;
    }
    .overlay-container {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .close-model {
        width: 25px;
        height: 25px;
    }
    .overlay-container {
        width: 90%;
    }
    .table-container {
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px 2%;
    }
    .overlay {
        margin-top: -10px;
    }
    .table-headline {
        font-size: 4vw;
    }
    #footer-Text {
        font-size: 0.6em;
    }
}